span.cursor,
span:has(+ br.cursor)::after {
  border-left: var(--cursor-width) solid var(--cursor-color);
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

span.cursor {
  margin-left: calc(-1 * var(--cursor-width));
}

span:has(+ br.cursor)::after {
  content: "";
}

@keyframes blink-animation {
  to {
    border: none;
    margin-left: inherit;
  }
}
