.blinking::before {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

span.cursor::before,
span:has(+ br.cursor)::after {
  position: relative; /* non sono sicuro di aver bisogno di questo */
  content: "";
  height: 1.2em;
  margin-bottom: -0.2em;
  border: var(--cursor-width) solid var(--cursor-color);
  margin-right: calc(-2 * var(--cursor-width));
}

.trailing-space {
  display: flex;
}
