.target-beg,
.target-beg ~ *:has(~ .target-end) {
  background-color: var(--target);
}

.selection-anchor:has(~ .selection-head),
.selection-anchor ~ *:has(~ .selection-head) {
  background-color: var(--selected);
}

.selection-head:has(~ .selection-anchor),
.selection-head ~ *:has(~ .selection-anchor) {
  background-color: var(--selected);
}
