@import url('border-box-fix.css');
@import url('keyboard.css');
@import url('cursor.css');

* {
  --dark-grey: #333333;
  --light-grey: #bbbbbb;
  --target: #444444;
  --cursor-width: 1px;
  --cursor-color: cyan;
}

body {
  background: var(--dark-grey);
  color: var(--light-grey);
}

.text {
  width: fit-content;
  font-size: 2em;
  margin: auto;
  padding: 1em;
}

.target {
  background-color: var(--target);
  border: 1px solid #999;
}
