@import url('border-box-fix.css');
@import url('keyboard.css');
@import url('cursor.css');
@import url('selection.css');

* {
  --dark-grey: #333333;
  --light-grey: #bbbbbb;
  --target: rgba(0, 255, 255, 15%);
  --selected: rgba(0, 255, 255, 40%);
  --cursor-width: 2px;
  --cursor-color: cyan;
}

body {
  background: var(--dark-grey);
  color: var(--light-grey);
}

#tokenized-text {
  width: fit-content;
  font-size: 2em;
  margin: auto;
  padding: 1em;
}

